
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AzR Blog</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/Themes/Admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Themes/Admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/Themes/Admin/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/Themes/Admin/css/style.css">
    <!-- endinject -->
    @*<link rel="shortcut icon" href="/favicon.png" />*@

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" href="@Url.Action("Index","Dashboard",new{area=""})">
                    @*<img src="/" alt="logo" />*@
                    AzR BLOG
                </a>
                <a class="navbar-brand brand-logo-mini" href="@Url.Action("Index","Dashboard",new{area=""})">
                    @*<img src="/" alt="logo" />*@
                    AzR
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        @{Html.RenderPartial("_MessageDropdown");}
                    </li>
                    <li class="nav-item dropdown">
                        @{Html.RenderPartial("_NotificationDropdown");}
                    </li>
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        @{Html.RenderPartial("_UserDropdown");}
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
           @{Html.RenderPartial("_Sidebar");}
            <!-- partial -->
            <div class="main-panel">
                <div id="mainContainer" class="main-container">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                            Copyright ©
                            <script>document.write(new Date().getFullYear());</script>
                            <a href="https://stackoverflow.com/users/3557266/ashiquzzaman" target="_blank">AzR</a>. All rights reserved.
                        </span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            Developed by <i class="mdi mdi-heart text-danger"></i> AzR

                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    @using (Html.BeginForm("LogOff", "UserAuth", new { area=""}, FormMethod.Post,new { id = "logoutForm" }))
    {@Html.AntiForgeryToken()}
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/Themes/Admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="/Themes/Admin/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/Themes/Admin/js/off-canvas.js"></script>
    <script src="/Themes/Admin/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/Themes/Admin/js/dashboard.js"></script>
    <!-- End custom js for this page-->

    
     @*@Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap")*@

    @RenderSection("scripts", required: false)
</body>

</html>