@model AzRBlog.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
    <div class="row w-100">
        <div class="col-lg-4 mx-auto">
            <h2 class="text-center mb-4">@ViewBag.Title</h2>
            <div class="auto-form-wrapper">
                @using (Html.BeginForm("Register", "UserAuth", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="FullName" id="FullName" class="form-control" placeholder="Full Name">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="mdi mdi-check-circle-outline"></i>
                                </span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="Email" id="Email" class="form-control" placeholder="Email as Username">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="mdi mdi-check-circle-outline"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control" placeholder="Phone / Mobile Number">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="mdi mdi-check-circle-outline"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control" name="Password" id="Password" placeholder="Password">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="mdi mdi-check-circle-outline"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="mdi mdi-check-circle-outline"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <div class="form-check form-check-flat mt-0">
                            <label class="form-check-label">
                                <input type="checkbox"
                                       @*name="IsAgreeTermAndCondition"
                                                   id="IsAgreeTermAndCondition"*@
                                       class="form-check-input"
                                       checked="@(Model.IsAgreeTermAndCondition)"
                                       value="@(Model.IsAgreeTermAndCondition)">
                                I agree to the terms
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit-btn btn-block">Register</button>
                    </div>
                    <div class="text-block text-center my-3">
                        <span class="text-small font-weight-semibold">Already have and account ?</span>
                        <a href="@Url.Action("Login","UserAuth",new{area=""})" class="text-black text-small">Login</a>
                    </div>


                }
            </div>
            <ul class="auth-footer">
                <li>
                    <a href="@Url.Action("Index","Home",new{area=""})">Home</a>
                </li>
                <li>
                    <a href="#">Help</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
            </ul>
            <p class="footer-text text-center">
                Copyright ©
                <script>document.write(new Date().getFullYear());</script>
                <a href="https://stackoverflow.com/users/3557266/ashiquzzaman" target="_blank">AzR</a>. All rights reserved.
            </p>

        
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

